## Intro to Pandas

**The topics we will cover in this notebook are :**

1. Pandas Series
2. Pandas DataFrame 
3. Read CSV file 
4. Access Data row-wise and column-wise
5. DataFrame Manipulation
6. Statistics with Pandas
7. Handling Missing Data

In [0]:
import pandas as pd 
import numpy as np

In [0]:
roll=['16CE1021','16CE1049','16CE2003']
name=['Niraj','Bhushan','Shubham']

* Pandas Series

      Syntax: 
      pd.Series(data,index) -> returns Series object

* Pandas DataFrame

In [0]:
columns=['W','X','Y','Z']

index=["A","B","C","D","E"]

In [0]:
from numpy.random import randint 
np.random.seed(42)

* Defining a DataFrame 

      Syntax:
      pd.DataFrame(data,columns,index) -> returns Pandas DataFrame

* Reading a Data Column-wise
      Syntax:
      df[list of column name ] (list required) -> dataframe

In [0]:
cols=['W','X']

* create new column in existing dataFrame

* remove a column 
      Syntax:
      using df.drop(list of column names,axis=1) 

      note: changes are temporary

Dealing with Row

*  df.loc[list of rows]
*  df.iloc[row no.]

* remove row-wise

      Syntax:
            using df.drop(list of index names,axis=0) 

            note: changes are temporary

Select a subset of row and column 
* df.loc[[list of rows],[list of columns]]
* df.iloc[ : , : ]

Condtional Dataframe

* df[condition]


* Index Manipulation

In [0]:
df.reset_index()

In [0]:
new_ind=[1,2,3,4,5]
df['new_index']=new_ind

In [0]:
df.set_index('new_index')

Statistical function in Pandas

**Handling Missing data** (Nan)

*  leave it as missing
*  Remove missing data  - dropna()
*  Fill missing data by method  - fillna(value)

In [0]:
df= pd.DataFrame(data=[[1,2,np.nan,4],[5,np.nan,np.nan,8],[10,20,30,50]],columns=['A','B','C','D'])

In [0]:
df